apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/jetstack/cert-manager/releases/download/v1.9.1/cert-manager.yaml
  - index-node/stateful_set.yaml
  - index-node/service.yaml
  - block-ingestor/stateful_set.yaml
  - block-ingestor/service.yaml
  - query-node/deployment.yaml
  - query-node/proxy.yaml
  - query-node/service.yaml
  - indexer-agent/service.yaml
  - indexer-agent/statefulset.yaml
  - shell.yaml
  - nfs.yaml
  - prometheus.yaml
  - grafana.yaml
  - ingress.yaml
configMapGenerator:
  - name: graph-node-config
    files:
      - config/graph-node.toml
namespace: default
