name: "Check Formatting"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and Format
        run: yarn
      - name: Check Formatting
        run: git diff --exit-code
